<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" href="../static/css/main.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
    <body class="body2">
  <div class=parent>
  <div class="child one">

         <div class="banner">
                    <div class="line">
                      <span>Graph</span>
                    </div>
                    <div class="line">
                      <span>Generator</span>
                    </div>
          </div>

    </div>
  <div class="child two">
   <p class="instructions">Make your graph here...</p>

   <form>
   <h2>Label your graph!</h2>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Form Title">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="X Axis">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Y Axis">
      </div>
      <div class="col">
          <input type="text" class="form-control" placeholder="Unit">
        </div>   
       </div>
     
      <h2>What are your <div class="tooltip">values?</h2>
        <span class="tooltiptext"> The values are the numbers you want the graph to show. Fill them in from the first to the last!</span>
      </div>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Value 1">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Value 2">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Value 3">
      </div>
      <div class="col">
         <input type="text" class="form-control" placeholder="Value 4">
        </div>
    
    </div>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Value 5">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Value 6">
      </div>
      <div class="col">
          <input type="text" class="form-control" placeholder="Value 7">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Value 8">
        </div>
    </div>
    <div class="row">
      <div class="col">
            <input type="text" class="form-control" placeholder="Value 9">
        </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Value 10">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Value 11">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Value 12">
      </div>
    </div>
    <div style="text-align:center;padding:50px">
    <button type="submit" class="btn btn-primary">Submit</button></div>
  </form>

  </div>
</div>
<p>

<div class="bottomtextwhite">
Want to know more about graphs? Have a look at these cool websites!</div>
<div class="bottomtextwhite">
<a href="https://www.bbc.co.uk/bitesize/topics/z2d9fcw">Bitesize statistics</a> | <a href="https://www.wolframalpha.com/examples/mathematics/">Wolfram Alpha Maths </a> | <a href="https://www.splashmath.com/math-vocabulary/geometry/graph">Splashmath: Graph</a> </div>
<div class="bottomtextwhite">
<a href="https://www.mathscareers.org.uk/article/five-famous-female-mathematicians/">Five Famous Female Mathematicians</a> | <a href="https://cwstat.org/">Caucaus for Women in Statistics</a>
</div>
</div>
</p> </body>
</html>