<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" href="../static/css/main.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
    <body class="body2">

        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
              <div class="bg-dark p-4">
                <p class="text-white h4"> <a class="text-white h4" href="/">Home</a> | 
                <a class="text-white h4" href="/about">About</a> </p>
              </div>
            </div>
            <nav class="navbar navbar-light">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </nav>
          </div>
  <div class=parent>
  <div class="child one">

         <div class="banner">
                    <div class="line">
                      <span>Graph</span>
                    </div>
                    <div class="line">
                      <span>Generator</span>
                    </div>
          </div>

    </div>
  <div class="child two">
   <p class="instructions">Make your graph here...</p>

   <form method="post" action="/graph_page">
   <h2>Label your graph!</h2>
    <div class="row">
      <div class="col">
      <input type="form_title" id="form_title" name="form_title" class="form-control" placeholder="Form Title">
      </div>
      <div class="col">
        <input type="x_axis" id="x_axis" name="x_axis" class="form-control" placeholder="X Axis (a measure of time e.g. days)">
      </div>
      <div class="col">
        <input type="y_axis" id="y_axis" name="y_axis" class="form-control" placeholder="Y Axis (what you are measuring)">
      </div> 
       </div>

    <h2>What are your values?</h2>
    <div class="row">
      <div class="col">
        <input type="value_1" id="value_1" name="value_1" class="form-control" placeholder="Value 1">
      </div>
      <div class="col">
        <input type="value_2" id="value_2" name="value_2" class="form-control" placeholder="Value 2">
      </div>
      <div class="col">
        <input type="value_3" id="value_3" name="value_3" class="form-control" placeholder="Value 3">
      </div>
      <div class="col">
         <input type="value_4" id="value_4" name="value_4" class="form-control" placeholder="Value 4">
        </div>
    
    </div>
    <div class="row">

      <div class="col">
        <input type="value_5" id="value_5" name="value_5" class="form-control" placeholder="Value 5">
      </div>
      <div class="col">
        <input type="value_6" id="value_6" name="value_6" class="form-control" placeholder="Value 6">
      </div>
      <div class="col">
          <input type="value_7" id="value_7" name="value_7" class="form-control" placeholder="Value 7">
        </div>
        <div class="col">
          <input type="value_8" id="value_8" name="value_8" class="form-control" placeholder="Value 8">
        </div>
    </div>
    <div class="row">
      <div class="col">
            <input type="value_9" id="value_9" name="value_9" class="form-control" placeholder="Value 9">
        </div>
      <div class="col">
        <input type="value_10" id="value_10" name="value_10" class="form-control" placeholder="Value 10">
      </div>
      <div class="col">
        <input type="value_11" id="value_11" name="value_11" class="form-control" placeholder="Value 11">
      </div>
      <div class="col">
        <input type="value_12" id="value_12" name="value_12" class="form-control" placeholder="Value 12">
      </div>
    </div>
    <div style="text-align:center;padding:50px">
    <button type="submit" id="submit-button" class="btn btn-primary">Submit</button></div>
  </form>

  </div>
</div>

</body>

<footer class="section footer-classic context-dark bg-image" style="background: #2d3246; font-size: small;padding:50px">
  <div class="container">
    <div class="row row-30">
      <div class="col-md-4 col-xl-5">
        <div class="pr-xl-4">
          <p style="color: aliceblue;">Just two women, trying to encourage children to get excited about maths and software.</p>
          <!-- Rights-->
          <p class="rights" style="color: aliceblue;"><span>Â©&nbsp; </span><span class="copyright-year">2019</span><span>&nbsp;</span><span>Waves</span><span>.&nbsp;</span><span>All Rights Reserved.</span></p>
        </div>
      </div>
      <div class="col-md-4">
        <h5 style="color: aliceblue;">Contacts</h5>
        <dl class="contact-list">
          <dt style="color: aliceblue;">Address:</dt>
          <dd style="color: aliceblue;"> PA Consulting 10 Bressenden Pl, Westminster, London SW1E 5DN</dd>
        </dl>
        <dl class="contact-list">
          <dt style="color: aliceblue;">email:</dt>
          <dd><a href="mailto:#">cfg@gmail.com</a></dd>
        </dl>
        <dl style="color: aliceblue;" class="contact-list">
          <dt>phones:</dt>
          <dd><a href="tel:#">+447459810192</a> <span>or</span> <a href="tel:#">+91 9571195353</a>
          </dd>
        </dl>
      </div>
      <div style="color: aliceblue;" class="col-md-4 col-xl-3">
        <h5>Links</h5>
        <ul class="nav-list">
          <li><a href="https://www.codefirstgirls.org.uk/why-we-do-what-we-do.html" target="_blank">About Code First: Girls</a></li>
          <li><a href="https://www.codefirstgirls.org.uk/blog" target="_blank">Code First: Girls Blog</a></li>
          <li><a href="https://www.codefirstgirls.org.uk/courses-we-offer.html" target="_blank">Code First: Girls Courses</a></li>
        </ul>
      </div>
    </div>
  </div>
  
<div class="parent">
  <!-- Medium Twitter button -->
  <script>
    (function(){

var shareButtons = document.querySelectorAll(".share-btn");

if (shareButtons) {
  [].forEach.call(shareButtons, function(button) {
  button.addEventListener("click", function(event) {
     var width = 650,
        height = 450;

    event.preventDefault();

    window.open(this.href, 'Share Dialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,width='+width+',height='+height+',top='+(screen.height/2-height/2)+',left='+(screen.width/2-width/2));
  });
});
}

})();</script>
<a class="share-btn share-btn-twitter" href="https://twitter.com/share?url=http%3A%2F%2Fcodepen.io%2Fsunnysingh%2Fpen%2FOPxbgq&amp;text=Share Buttons Demo&amp;via=sunnyismoi" title="Share on Twitter">
<span class="share-btn-icon"></span>
<span class="share-btn-text">Twitter</span>
</a>

<!-- Medium Facebook button -->
<a class="share-btn share-btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcodepen.io%2Fsunnysingh%2Fpen%2FOPxbgq" title="Share on Facebook">
<span class="share-btn-icon"></span>
<span class="share-btn-text">Facebook</span>
</a>

<!-- Medium Email button -->
<a class="share-btn share-btn-email" href="mailto:?subject=Share Buttons Demo&amp;body=http%3A%2F%2Fcodepen.io%2Fsunnysingh%2Fpen%2FOPxbgq" title="Share via Email">
<span class="share-btn-icon"></span>
<span class="share-btn-text">Email</span>
</a>

<!-- Medium More/share button -->
<a class="share-btn share-btn-more" href="https://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fcodepen.io%2Fsunnysingh%2Fpen%2FOPxbgq" title="More share options">
<span class="share-btn-icon"></span>
<span class="share-btn-text-sr">More</span>
</a>

</div>
</footer>
</html>