<!DOCTYPE html>
<html>
    <head>
        <title>My Flask App Page</title>
        <link rel="stylesheet" type="text/css" href="main.css">
    </head>
    <body>

            <div class="banner">
                    <div class="line">
                      <span>Fancy Banners</span>
                    </div>
                    <div class="line">
                      <span>Make It Look</span>
                    </div>
                    <div class="line">
                      <span>Nice &amp; Classy</span>
                    </div>
                  </div>
        <p>Let's keep in touch!</p>

            <div id="contact-form">
                    <form method="post" action="/signup">
                        <label for="email">Email address:</label>
                        <input type="email" id="email" name="email" required="required">
                        <input type="submit" value="Submit" id="submit-button">
                
                    </form>
            </div>
    </body>
</html>